
.aboutpage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    box-shadow: 0px 3px 10px black;
    color: rgb(221, 220, 220);
}

.secondcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 1200px;
    
}

.secondpageheader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 50%;
    font-family: 'Sree Krushnadevaraya', serif;
    font-size: 2rem;
    text-decoration: underline;
}

.secondpagespan {
    display: flex;
    width: 100%;
    height: 60%;
}

.aboutsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 100%;
    width: 50%;
    font-size: 2rem;
    padding: 0 2vw 2vw;
    border-right: 2px;
    border-left: 0;
    border-style: solid;
    /* border-image: linear-gradient(to bottom, #ccc, #555, 66%, #181818) 1 100%; */
    border-image: linear-gradient(to bottom, #181818, #eee, #181818) 1 100%;
}

.aboutsection:last-child {
    border-right: 0;
}

.pic {
    width: 85%;
    height: 100%;
    border-radius: 10px;
    border: 5px solid transparent;
    /*border-bottom: 2px solid rgb(70, 69, 69);
    border-top: 2px solid rgb(70, 69, 69);
    box-shadow: 0px 3px 10px rgb(17, 17, 17);*/
    aspect-ratio: 1/1;
    background: linear-gradient(black, black) padding-box, 
    linear-gradient(to right, rgb(63, 62, 62), rgb(20, 20, 20), black) border-box;
}


@media only screen and (max-width: 1200px) {
    .secondcontainer {
        width: 90vw;
    }

    .aboutsection {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 800px) {
    
    .secondpageheader {
        font-size: 1.6rem;
    }
    .aboutsection {
        font-size: 1rem;
    }
}