@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sree+Krushnadevaraya&display=swap');


.contactmain {
    display: flex;
    width: 1200px;
    height: 30vh;
    font-family: 'Sree Krushnadevaraya', serif;
    color: rgb(221, 220, 220);
}

.contactheader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    font-size: 3rem;
    text-decoration: underline;
}

.contactspan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    font-size: 2rem;
    font-family: 'Sree Krushnadevaraya', serif;
    
}

.contactlink {
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: rgb(221, 220, 220);
    transition: 0.4s;
}

.contactlink:hover {
    color: rgb(153, 215, 240);
    text-decoration: underline;
}

.contactlink:hover .lilogo {
    filter: grayscale(0);
}

.lilogo {
    max-height: 50px;
    width: auto;
    justify-self: center;
    align-self: center;

    filter: grayscale(100%);
    transition: 0.4s;
}

.email {
    display: flex;
    gap: 20px;
}

.email:hover .lilogo {
    filter: grayscale(0);
}


@media only screen and (max-width: 1200px) {
    .contactmain {
        width: 90vw;
    }

    .contactheader {
        font-size: 2rem;
    }

    .contactspan {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 800px) {

    .contactheader {
        font-size: 1.8rem;
    }
    .contactspan {
        font-size: 1rem;
    }
}