@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sree+Krushnadevaraya&display=swap');

.firstPage {
    display: flex;
    width: 100%;
    height: 100vh;
}


.halfpage {
    display: flex;
    flex-direction: column;
    
    
    width: 50%;
    height: 100%;
    font-family: 'Bad Script', cursive;
    color: white;
    font-size: 2rem;
    
}

.nameheader {
    
    color: black;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Sree Krushnadevaraya', serif;
    
}

.nameone {
    height: 65%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    justify-content: flex-end;
    transition: 0.4s;
}

.nameonesec2:hover {
    background-color: black;
    color: rgb(221, 220, 220);
}

.nameone h1 {
    margin-right: 20px;
}

.nameonesec1 {
    height: 100%;
    width: 30%;
}
.nameonesec2 {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 220, 220);
    border: 2px solid black;
    transition: 0.4s;
    
}

.nametwo {
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 0.4s;
    font-size: 1.4rem;
    margin-top: -15px;
    
}

.nametwosec1 {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 220, 220);
    border: 2px solid black;
    transition: 0.4s;
}
.nametwosec2 {
    height: 100%;
    width: 30%;
}

.nametwosec1:hover {
    background-color: black;
    color: rgb(221, 220, 220);
}


.welcomeartic {
    display: flex;
    flex-direction: column;
    color: rgb(221, 220, 220);
    
    height: 300px;
}

.welcomeartic h1 {
    height: 10%;
    margin-left: 60px;
}

.mephoto {
    height: auto;
    width: 100%;
    margin-top: auto;
    
}