.footerMain {
    width: 100vw;
    height: 40vh;
    background-color: black;
    backdrop-filter: blur(10px);
    margin-top: auto;
    bottom: 0;
    z-index: 3;
    align-self: center;
    justify-self: center;
    box-shadow: 0px 3px 10px black;
}