@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sree+Krushnadevaraya&display=swap');

.homePage {
    display: flex;
    width: 100%;
    height: 100vh;
}


.halfpage {
    display: flex;
    flex-direction: column;
    
    
    width: 50%;
    height: 100%;
    font-family: 'Bad Script', cursive;
    color: white;
    font-size: 2rem;
    
}

.nameheader {
    
    color: black;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Sree Krushnadevaraya', serif;
    
}

.nameone {
    height: 65%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    justify-content: flex-end;
    transition: 0.4s;
    
}



.nameone h1 {
    margin-right: 20px;
}

.nameonesec1 {
    height: 100%;
    width: 30%;
}
.nameonesec2 {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 20, 20);

    transform: translatey(0px);
    animation: float 7s ease-in-out infinite;
    
    transition: 0.4s;
    color: rgb(221, 220, 220);

    
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-15px);
    }
    100% {
        transform: translatey(0px);
    }
}

.nametwo {
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 0.4s;
    font-size: 1.4rem;
    margin-top: -15px;
    
}

.nametwosec1 {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 220, 220);

    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    z-index: 3;
    transition: 0.4s;
    box-shadow: 0px 3px 10px black;
    color: rgb(20, 20, 20);

    
}
.nametwosec2 {
    height: 100%;
    width: 30%;
}




.welcomeartic {
    display: flex;
    flex-direction: column;
    color: rgb(220, 221, 220);
    
    height: 300px;
    
}

.welcomeartic h1 {
    height: 10%;
    margin-left: 60px;
}

.mephoto {
    height: auto;
    width: 100%;
    margin-top: auto;
    filter: brightness(80%);
}