@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.main {
    display: flex;
    flex-direction: column;
    
    width: 100vw;
    position: relative;
    
    justify-content: center;
    align-items: center;
    
    
}



.container {
    
    
    width: 1200px;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    

    z-index: 1;
    font-family: 'Bad Script', cursive;
    gap: 50px;
    
}

.firstPage {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: aqua;
}

.secondPage {
    display: flex;
    width: 100%;
    height: 100vh;
    
}
