@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.navMain {
    width: 100vw;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 3;
    align-self: center;
    justify-self: center;
    background: transparent;
    font-family: 'Bad Script', cursive;
}

.navMain.bg {
    background-color: black;
    box-shadow: 0px 3px 10px black;
}

.navMain:hover {
    background-color: black;
    box-shadow: 0px 3px 10px black;
}

.navSection {
    height: 100%;
    width: 1200px;
    display: flex;
    align-items: center;
}

.navHalf {
    font-size: 1.8rem;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navHalf2 {
    font-size: 1.8rem;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navHalf2 ul {
    height: 100%;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.logo {
    height: 100px;
    width: auto;
    align-self: flex-start;
}
