@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.navMain {
    width: 100vw;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 3;
    align-self: center;
    justify-self: center;
    background: transparent;
    font-family: 'Bad Script', cursive;
    
}

.navMain.bg {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 10px black;
}

.navMain:hover {
    background-color: black;
    box-shadow: 0px 3px 10px black;
}

.navSection {
    height: 100%;
    width: 1200px;
    display: flex;
    align-items: center;
}

.navHalf {
    font-size: 1.8rem;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navHalf2 {
    font-size: 1.8rem;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links {
    height: 100%;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.links a {
    position: relative;
}

.links a:hover {
    cursor: pointer;
}

.links a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 0px;
    right: 0;
    background: white;
    transition: width .3s ease;
    -webkit-transition: width .3s ease;
}

.links a:hover:after {
    width: 100%;
    left: 0;
    background: white;
}

.logo {
    height: 115px;
    width: auto;
    align-self: flex-start;
    transition: 0.3s;
    border: 1px solid white;
}

.logo:hover {
    
    cursor: pointer;
}
