
.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    box-shadow: 0px 3px 10px black;
    color: rgb(221, 220, 220);

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    background: linear-gradient(black, black) padding-box, 
    linear-gradient(to right, rgb(63, 62, 62), rgb(20, 20, 20), black) border-box;
}

.portfoliocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 1200px;
    
}

.portfolioheader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 50%;
    font-family: 'Sree Krushnadevaraya', serif;
    font-size: 2rem;
    text-decoration: underline;
}

.portfoliospan {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 60%;
}

.projectsection {
    display: flex;
    height: 33%;
    width: 100%;
    border-bottom: 1px solid rgb(221, 220, 220);
}

.halfsec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.halfsec a {
    text-decoration: none;
    color: rgb(221, 220, 220) ;
    transition: 0.4s;
}
.halfsec a:hover {
    text-decoration: none;
    color: rgb(221, 220, 220) ;
    text-decoration: underline;
}




.carouselmain {
    margin: auto;
    width: 90%;
    height: 100%;
    max-height: 100%;
    
}

.carouselmain .carousel-root {
    display: flex;
    
  }
  
  .carouselmain .carousel {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .carouselmain .carousel .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
  }

  .carouselmain .carousel .slide:hover .infoList a{
    color: rgb(158, 73, 151);
    
  }

  .carouselmain .carousel .slide:hover .portImg{
    filter: grayscale(0);
    
  }

 


  .carouselmain .slide div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  

  .carouselmain .slide div img {
    
    align-self: center;
    object-fit: cover;
    height: auto;
    width: 50%;
    
    
    
  }

  .carouselmain .slide div .textCont{
    font-family: 'Sree Krushnadevaraya', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 100%;
    width: 50%;
    font-size: 1rem;
  }


  .carouselmain .slide div .textCont .legend2 {
    
    font-size: 1.5rem; 
  }

  .carouselmain .slide div .textCont .infoList {
    text-align: left;
    font-size: 1.3rem; 
  }

  .infoList a {
    color:rgb(221, 220, 220);
    transition: 0.4s;
  }

  .portImg {
    filter: grayscale(1);
    transition: 0.4s;
  }

  .art {
    size: 100%;
  }

  
  .carousel .thumb {
    width: 80px; /* Adjust width as needed */
    height: 60px; /* Adjust height as needed */
    margin-right: 10px; /* Adjust margin as needed */
    align-self: flex-start;
    
    
}





.piclink{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.cimg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    transition: 0.4s;
}
.cimg:hover {
    filter: grayscale(0);
}


@media only screen and (max-width: 1200px) {
    .portfoliocontainer {
        width: 90vw;
    }

    .carouselmain .slide div {
        
        flex-direction: column;
        
      }

    .carouselmain .slide div img {
        display: none;
    
        
        
      }

      .carouselmain .slide div .textCont{
        
        height: 80%;
        max-height: 80%;
        width: 100%;
      }
    
      .carouselmain .slide div .textCont .infoList {
        text-align: left;
        font-size: 1.1rem; 
      }

      .carousel .thumb {
        width: 30px; 
        height: 30px; 
         
    }  
}

@media only screen and (max-width: 800px) {
    .portfolioheader {
        font-size: 1.6rem;
    }

    .portfoliospan {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80%;
    }
    
    .halfsec h2 {
        font-size: 1rem;
    }

    .carouselmain .slide div .textCont .infoList {
        text-align: left;
        font-size: 1rem; 
      }
}