
.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    box-shadow: 0px 3px 10px black;
    color: rgb(221, 220, 220);
}

.portfoliocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 1200px;
    
}

.portfolioheader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 50%;
    font-family: 'Sree Krushnadevaraya', serif;
    font-size: 2rem;
    text-decoration: underline;
}

.portfoliospan {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
}

.carouselmain {
    margin: auto;
    width: 80%;
    
}
/*
.carouseldiv {
    height: 400px;
    width: 100%;
    color: rgb(221, 220, 220);
    font-size: 1rem;
    display: flex;
    
    align-items: center; 
}*/

.main-slide {
    padding-top: 10px;
    width: 300px;
}

.carousel .slider-wrapper {
    width: 50%;
    
}

.carousel .thumb {
    width: 55px;
    height: 50px;
}

.carousel {
    text-align: center;
    
}

.cimg {
    height: 300px;
    width: 300px;
    aspect-ratio: 16/9;
}


@media only screen and (max-width: 1200px) {
    .portfoliocontainer {
        width: 90vw;
    }
}

@media only screen and (max-width: 800px) {
    .portfolioheader {
        font-size: 1.6rem;
    }
    
}