.resumepage {
    height: 100vh;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(221, 220, 220);
}

.thirdpageheader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 50%;
    font-family: 'Sree Krushnadevaraya', serif;
    font-size: 2rem;
    text-decoration: underline;
}

.thirdpagespan {
    display: flex;
    width: 100%;
    height: 60%;
}