.resumepage {
    height: 100vh;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(221, 220, 220);
}

.thirdpageheader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 50%;
    font-family: 'Sree Krushnadevaraya', serif;
    font-size: 2rem;
    text-decoration: underline;
}

.thirdpagespan {
    display: flex;
    width: 100%;
    height: 60%;
}

.resumehalf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    font-family: 'Sree Krushnadevaraya', serif;

    border-right: 2px;
    border-left: 0;
    border-style: solid;
    border-image: linear-gradient(to bottom, #181818, #eee, #181818) 1 100%;
}

.rheader {
    font-size: 2rem;
}

.resumehalf:last-child {
    border-right: 0;
}

.resumegrid {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    gap: 20px;
    margin: auto;
    
    justify-items: center;
    align-items: center;
    
    
    align-self: center;
    justify-self: center;
    
}

.gimg {
    filter: grayscale(100%);
    transition: 0.4s;
    object-fit: cover;
    
    max-height: 90px;
    width: auto;
}

.gimg:hover {
    scale: 1.1;
    filter: grayscale(0%);
    
    
}

.griddiv {
    display: flex;
    position: relative;
    
    
}

.tooltip {
    transition: 0.2s;
    visibility: hidden;
    font-family: 'Sree Krushnadevaraya', serif;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 3px;
    background-color: rgb(20, 20, 20);
    color: rgb(221, 220, 220);
    text-align: center;

    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-left: -50%;
    z-index: 3;
    min-width: 100px;
    
    box-shadow: 0px 3px 10px black;
    border-bottom: 2px solid #181818;
}

.gimg:hover + .tooltip{
    visibility: visible;
    
}

.eduarticle {
    font-family: 'Bad Script', cursive;
    font-size: 1.8rem;
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eduarticle ul {
    width: 80%;
}

@media only screen and (max-width: 1200px) {
    .resumepage {
        width: 90vw;
    }
    .eduarticle {
        font-size: 1.5rem;
    }
    .gimg {
        
        max-height: 60px;
        width: auto;
    }
}

@media only screen and (max-width: 800px) {

    .thirdpagespan {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80%;
    }

    .resumehalf {
        height: 50%;
        width: 90%;
        border: none;
    }

    .thirdpageheader {
        font-size: 1.6rem;
    }
    .eduarticle {
        font-size: 1rem;
    }
    .gimg {
        
        max-height: 35px;
        width: auto;
    }

    .resumegrid {
        width: 200px;
    }

    .tooltip {
        scale: 0.7;
    }
}